@charset "utf-8";

// Define defaults for each variable.

//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-family: Courier New, Courier, monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #666 !default;
$background-color: #fdfdfd !default;
$brand-color:      #FF470D !default;
$brand-light:      #f80;
$brand-lightest:   #E89B0C;

$grey-color:       #333 !default;
$grey-color-light: #999 !default;
$grey-color-dark:  #000 !default;

// Width of the content area
$content-width:    60em !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
