/**
* Site header
*/

$header-layout-change: 768px;

.site-header {
  background: $brand-light;
  background: linear-gradient(60deg, $brand-color 10%, $brand-light 80%, $brand-lightest);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: $spacing-unit * 1.865;
  padding: $spacing-unit/4 $spacing-unit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  @media all and (min-width: $header-layout-change) {
    flex-direction: row;
    align-items: center;
  }
}

.site-title {
  @media all and (max-width: $header-layout-change) {
    text-align: center;
    width: 100%;
  }
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: white;
    text-decoration: none !important;
  }
}

.site-nav {
  @media all and (max-width: $header-layout-change) {
    width: 100%;
  }
  //line-height: $base-line-height * $base-font-size * 2.25;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .page-link {
    padding: $spacing-unit/2 $spacing-unit;
    color: white;
    line-height: $base-line-height;
  }
}



/**
* Site footer
*/
.site-footer {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    background: $brand-light;
    background: linear-gradient(60deg, $brand-color 10%, $brand-light 80%, $brand-lightest);
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
  }
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  display: flex;
  flex-direction: column;
  @media all and(min-width: $header-layout-change) {
    flex-direction: row;
  }
}


.footer-col-1 {
  flex: 0 1 auto;
}

.footer-col-2 {
  @media all and(min-width: $header-layout-change) {
    margin-left: $spacing-unit;
  }
  flex: 1 1 auto;
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  color: $brand-light;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.page-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
